projects/stabilization-for-360/stabilization-for-360.xcodeproj/xcuserdata/
projects/stabilization-for-360/stabilization-for-360.xcodeproj/project.xcworkspace/xcuserdata
projects/stabilization-for-360/DerivedData/
